   
  <div id="global">
<form [formGroup]="productForm" (ngSubmit)="saveProduct(productForm.value)" >
    <fieldset>
        <legend>Add a product</legend>
  
        <p>
            <label for="name">Product Name: </label>
             <input formControlName="name" >
         </p>
  
	     <div id="errors"
	      *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
	          <div *ngIf="name.errors.required">
	            Name is required.
	          </div>
	          <div *ngIf="name.errors.minlength">
	            Name should be at least 5 characters long.
	          </div>
	     </div>
	 
        <p>
            <label for="description">Description: </label>
              <input formControlName="description">
        </p>
       <div id="errors"
	      *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
	          <div *ngIf="description.errors.required">
	            Description is required.
	          </div>
	     </div>
        
         <p>
            <label for="price">Price: </label>
              <input formControlName="price">
         </p>
         
     <p>
      <label for="category">Category: </label>
      <select class="form-control" formControlName="category" >
         <option value="null" disabled [selected]="true"  >Select Category</option>
 
 	   <option *ngFor="let category of categories" [ngValue]="category">
    		{{category.name}}
 	   </option>
     </select>
   </p>
         
          
        <p id="buttons">
  			<button type="submit" [disabled]="productForm.invalid " id="submit">Add Product</button>
        </p>
 
 <!-- [disabled]="productForm.invalid && formDir.submitted" -->

    </fieldset>
</form>
</div>

